@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #000;
    h1{
        font-family: "Poppins";
        color: #fff;
        margin-bottom: 30px;
    }
    .form-control{
        font-family: "Poppins";
        width: 100%;
        padding: 10px 100px;
        margin-bottom: 20px;
    }
}